
<div id="toolbar">
    <div id="tooltip_control" class="tool_item">
        <h3>
        <a href="#"><small id="tooltip_tag">[+]</small></a>
        Cluster Details
        </h3>
    </div>

    <div id="meta_control" class="tool_item">
        <h3>
        <a href="#"><small id="meta_tag">[+]</small></a>
        Mapper Summary
        </h3>
    </div>

    <div id="help_control" class="tool_item">
        <h3>
        <a href="#"><small id="helptip_tag">[+]</small></a>
        Help
        </h3>
    </div>

    <div class="tool_item">
        <input id="cluster_name" type="text" class="tool_item">
    </div>

    <div id="save_cluster" class="tool_item">
        <h3>
        <a href="#"><small>Save cluster</small></a>
        </h3>
    </div>

    <div id="exit" class="tool_item">
        <h3>
        <a href="#"><small>Exit</small></a>
        </h3>
    </div>
</div>
